.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date {
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  width: 18em;
}

.save-button {
}
.card-body {
  display: flex;
  justify-content: space-between;
}

.card {
  /* width: 100%; */
}

.passed-time {
  background-color: gray;
}
